NEXT_PUBLIC_APPWRITE_PROJECT=XXXXXXXX


#NEXT
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# #APPWRITE
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
APPWRITE_DATABASE_ID=XXXXXX
APPWRITE_USER_COLLECTION_ID=XXXXX
APPWRITE_BANK_COLLECTION_ID=XXXXX
APPWRITE_TRANSACTION_COLLECTION_ID=XXXXX
NEXT_APPWRITE_KEY=XXXXX

# #PLAID
PLAID_CLIENT_ID=XXXXX
PLAID_SECRET=XXXXX
PLAID_ENV=sandbox
PLAID_PRODUCTS=auth,transactions,identity
PLAID_COUNTRY_CODES=US,CA

# #DWOLLA
DWOLLA_KEY=XXXXX
DWOLLA_SECRET=XXXXX
DWOLLA_BASE_URL=https://api-sandbox.dwolla.com
DWOLLA_ENV=sandbox

# sentry
SENTRY_DSN=XXXXXXXX